.container-bookshelf {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-between;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.link {
  display: flex;
  justify-content: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #0056b3;
}
